<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" type= "text/css" href="static/style.css">
		<script src="https://kit.fontawesome.com/e01c8e7b4f.js" crossorigin="anonymous"></script>
	</head>
	<body>
            
		<div class="bg-img">
        <div class="site-logo">
            <a href="/"><img  class="logo" src="static/main_logo.png" alt="logo"></a>
        </div>
        <h2>Home Page</h2>
        <p>Welcome back, {{ username }}!</p>
        <p>Welcome back, {{ name }} {{ surname }}!</p>
        
    </div>
	</body>
</html>
