uvicorn
fastapi
mysql.connector
jinja2
yfinance
aiofiles
fastapi_login
python-multipart
pythonping==1.1.4
twilio==8.0.0
CurrencyConverter
psycopg2-binary==2.8.6
sqlalchemy==2.0.36
psycopg2==2.8.6
python-multipart==0.0.6
paho-mqtt==1.6.1
apscheduler
reportlab
pandas
matplotlib
openai
email-validator
cryptography==44.0.2
pdfkit==1.0.0
xhtml2pdf==0.2.17